@import "fonts";

$light-grey: #C8CAD7;
$light-grey-opacity: rgba(200, 202, 215, 0.6);

:root {
  --heading-font: 'Poppins', sans-serif;
  --main-font: 'Poppins', sans-serif;
}

.reveal {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
  }
  section {
    font-family: var(--main-font);
    height: 100vh;
  }
}

body.slide {
  &::before {
    content: '';
    background-image: url(https://res.cloudinary.com/boolean-spa/image/upload/v1620885226/boolean-fullstack-js/logo-slide_auf6sv.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: fixed;
    top: 5vh;
    right: 5vw;
    width: 6vw;
    height: 15vh;
  }
  &::after {
    content: 'Boolean Academia. Todos los derechos reservados';
    font-family: var(--main-font);
    width: 100%;
    font-size: larger;
    display: inline-block;
    bottom: 5vh;
    left: 5vw;
    position: fixed;
  }
}


.intro {
  header {
    display: flex;
    justify-content: flex-start;

    img {
      background: none;
      border: none;
      box-shadow: none;
      margin: 5vw;

      @media (max-width: 1280px) {
        height: 8vh;
        margin: 2vw;
      }

      @media (max-width: 768px) {
        height: 5vh;
        margin: 2vw;
      }
    }

    @media (max-width: 1280px) {
      position: fixed;
      top: 0;
      background-color: $light-grey-opacity;
      width: 100vw;
      padding: 2vw;
      height: 10vh;
    }
  }

  .title {
    margin-top: 20vh;

    @media (max-width: 1280px) {
      margin-top: 20vh;
      position: fixed;
      bottom: 0;
      background-color: $light-grey-opacity;
      width: 100vw;
      padding: 5vw;
    }

    h1, h2 {
      padding: 0 5vw;
      text-align: left;
      font-weight: bold;
      color: #132193;
    }
  
    h1 {
      font-size: min(max(1rem, 4vw), 2em);
  
      &::before {
        content: 'Curso';
        background-color: #132193;
        color: white;
        position: fixed;
        margin-top: -7vh;
        border-radius: 16px;
        padding: 5px 40px;
        font-size: 0.6em;
        letter-spacing: normal;
      }
    }
    h2 {
      font-size: min(max(1rem, 4vw), 1.5em);
    }

    
  }
}

.slide {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mindmap-iframe {
  width: 100%;
  height: 70%;
  margin: 10px 20px;
}