$tokens-responsive-breakpoint-desktop: 1440px;
$tokens-responsive-breakpoint-small-desktop: 1280px;
$tokens-responsive-breakpoint-tablet: 992px;
$tokens-responsive-breakpoint-small-tablet: 768px;
$tokens-responsive-breakpoint-phone: 480px;
